body, html, h1 {
    background-color: #AED6F1; /* Background color per assignment, light blue,*/
    display: flex; /* flexbox on the body */
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; /*centering for all html elements including h1 */
}
/*mobile response*/
@media (max-width: 768px) {
    body, html {
        width: 100%;
        flex-direction: column;
    }
}

  